body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

.img {
  display: block;
}

.container {
  max-width: 1166px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---------------HEADER------------------------ */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  /* line-height = line-height in px (20px) / on font-size in px, інтерліньяж ще називається, краще ставити у відносних одиницях (множник) бо тоді він реагує на зміну розміру шрифту*/
  line-height: 1.11;
  /* if we don't put in px need to add em in letter-spacing */
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.2em;
}

.header-menu-link:hover {
  color: #fd9222;
}

.header-menu-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

/* --------------------------------------- */
/* ---------------HERO------------------------ */

/* .hero {
  background: rgba(17, 17, 17, 0.6);
} */

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
}

.hero-buy-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #fd9222;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.hero-made-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background: #fd9222;
  background-color: transparent;
}

.hero-down-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin: left auto;
}

/* --------------------------------------- */

/* ---------------FEATURES------------------------ */

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-item {
  width: calc((100% - 88px * 2) / 3);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* --------------------------------------- */

/* ---------------TASTE------------------------ */

.taste {
  padding-top: 120px;
}
.taste-title {
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto;
}

.taste-title span {
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.taste-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}
.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}

/* --------------------------------------- */

/* ---------------MADE------------------------ */

.made {
  padding-top: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
}

.made-title span {
}

.made-img {
}

.made-content {
  background-color: #fff;
  padding: 32px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* --------------------------------------- */

/* ---------------PRODUCTS---------------------- */

.products {
}
.products-title {
}

.products-title span {
}

.products-list {
}
.products-item {
}
.products-img {
}
.products-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-item-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

/* --------------------------------------- */

/* ---------------SELLERS---------------------- */

.sellers {
}
.sellers-title {
}
.sellers-list {
}
.sellers-item {
}
.sellers-img {
}
.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* --------------------------------------- */

/* ---------------LOVED---------------------- */

.loved {
}
.loved-title {
}
.section-title {
}
.loved-list {
}
.loved-item {
}
.loved-img {
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

/* --------------------------------------- */

/* ---------------FOOTER---------------------- */

.footer {
  background: #1e1823;
}
.footer-heading {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(34 / 28);
  letter-spacing: -0.02em;
}
.footer-heading span {
  color: #fd9222;
}
.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  color: #ffffff;
}
.footer-navigation {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
}

.footer-menu-link:hover {
  color: #fd9222;
}

/* --------------------------------------- */
